/* MAIN BODY */

body{
background-color:white;
margin: auto; 
align-content: center;
padding:px 10px 10px 10px 10px;
font-family: 'Poppins', sans-serif;
font-weight: 300;
max-width: 960px;
margin: auto;
color:dimgray;
font-size: 1em;
line-height: 2em;
}

nav{
background-color: white;
position:absolute;
z-index: 2;
}

.container{
position: relative;
}

img {
margin:auto;
padding-top:50px;
padding-bottom:50px;
}

.logo h1{
font-family: Rock Salt, cursive;
position: absolute;
margin-left: 20px;
top: 100px;
text-align:center;  
font-size: 3.5em;
line-height: 1em;
z-index: -50%;
color:white;  
}

.main-content{
max-width: 960px;
margin: auto;
align-content: center;
line-height: 1.75;
}

.announcment{
border: 1px solid red;
margin: auto;
padding: 20px 20px 20px 20px;
max-width: 600px;
max-height: auto;  
}

.tagline{
top: 400px;
text-align: center;
}

header{
align-content: center;
}

footer{
margin-top: 150px;
border-top: 2px solid white;
line-height: .75em;
padding:inherit;
text-align: center;
}

footer h4{
font-size: 2em;
}


ul{
margin: 10px;
padding: 0;
overflow: hidden;
background-color: white;
max-width: inherit;
}

li{
list-style-type: none;
float:left;
}

li a, .dropbtn {
display: inline-block;
color: black;
text-align: center;
padding: 20px;
text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
background-color: crimson;
}

li.dropdown{
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1; 
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover{
background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
display: block;
}

